.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#tiles {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: grid;
  z-index: 2;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
  position: relative;
  &:hover {
    opacity: 0.50;
  }
}

.tile:before {
  background-color: rgb(30, 30, 30);
  content: "";
  position: absolute;
  inset: 1px;
}

.tile:hover:before {
  opacity: 0.5;
}

body.toggled > #tiles > .tile:hover {
  opacity: 0.5 !important;
}